body {
    margin:0;
    padding:0;
    float:left;
    overflow: hidden;
}
.vp-main {
    float:left;
}
.vp-main .about-trigger {
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    top: 0;
    text-align: center;
}
.vp-main .about-trigger i {
    margin-top:15px;
}
.vp-main .about-trigger:hover {
    cursor:pointer;
    color:black;
    background-color: lightgrey;
}
.vp-top {
    float:left;
    width: 100%;
}
.vp-top h1 {
    margin: 0;
    padding: 0;
    font-size: 35px;
    text-align: center;
}

.vp-middle {
    float: left;
    width: 100%;
}
.vp-left {
    float:left;
    height:100%;
}
.vp-right {
    float:left;
    height:100%;
}
.vp-bottom {
    float:left;
    width:100%;
}
.controls {
    float:left;
    height:100%;
    width:100%;
}
.vp-left .vp-logo {
    float:left;
    width:100%;
}
.vp-buttons {
    float:left;
    width:100%;
}
.vp-buttons ul {
    margin:0;
    padding:0;
    list-style-type: none;
    height:100%;
}
.vp-buttons ul li {
    height: 100%;
    width: 45px;
    float:left;
    /*border-right: 1px solid;*/
    text-align: center;
}
.vp-right .vp-buttons ul {
    float:right;
}
.vp-buttons ul li i {
    margin-top: 10px;
}

.vp-buttons ul li[clickable="clickable-function"]:hover {
    cursor:pointer;
    color:black;
    background-color: lightgrey;
}
.vp-buttons ul li[clickable="none-clickable-function"] {
    cursor:not-allowed;
    color:grey;
}

.vp-tree {
    float:left;
    width:100%;
}
.vp-right .canvas {
    background-color: lightgrey;
    float:left;
    height:100%;
    width:100%;
    cursor: not-allowed;
}
.vp-right .canvas canvas {
    cursor: crosshair;
}
.vp-right .canvas.locked canvas{
    cursor: wait;
}

.output-text {
    float: left;
    overflow-y: scroll;
    font-size: 10px;
    height:100%;
    width:100%;
}
.output-text p {
    padding:0;
    margin: 2px 10px;
}


.border.all{
    border: 1px solid grey;
}
.border.left {
    border-left: 1px solid grey;
}
.border.right {
    border-right: 1px solid grey;
}
.border.top {
    border-top: 1px solid grey;
}
.border.bottom {
    border-left: 1px solid grey;
}

.scroller {
    overflow:auto;
}

.dialog-left {
    float:left;
    width:10%;
}
.dialog-right {
    float:left;
    width:90%;
    max-height: 350px;
}
.dialog-right .text span.trace {
    font-size:10px;
}

.jspPane {
    margin: 0;
}

.ui-autocomplete {
    font-size:12px!important;
}


.jstree-leaf, .jstree-anchor {
    font-size: 12px;
    color: black!important;
}
.jstree-leaf.indicates-hidden .jstree-anchor {
    color: grey!important;
}
.jstree-default .jstree-hovered {
    background: grey;
}
.jstree-clicked {
    background-color: lightgrey!important;
}
.icon-size {
    font-size: 87px;
}
.jstree-wholerow.jstree-wholerow-clicked {
    background: none;
}
.jstree-wholerow.jstree-wholerow-hovered {
    background: darkgray;
}

.scroll-pane.hover-pane .jspVerticalBar, .scroll-pane.hover-pane .jspHorizontalBar {
    display:none;
}

.element_list {
    max-height: 300px;
    overflow-y: auto;
}
.element_list li {
    list-style:none;
    width:75px;
    height:60px;
    float:left;
    border: 1px solid lightgrey;
    margin-bottom: 10px;
    margin-right: 10px;
}
.element_list li.active {
    background-color: #9c9c9c;
}
.element_list li:hover {
    background-color: lightgrey;
}
.element_list li label {
    width:100%;
    height:100%;
    float:left;
    position:relative;
}
.element_list li label:hover {
    cursor:pointer;
}
.element_list li label input {
    display:none;
}
.element_list li label span {
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    font-size: 12px;
}