<form class="element_list">
    <ul>
        {% for name,object in getProcessObjects() %}
           {% if object.category|length %}
                <li for="id_{{ name }}" data-objectname="{{ name }}" class="">
                    <label for="id_{{ name }}">
                        <input id="id_{{ name }}" type="radio" name="objectname" value="{{ name }}">
                        <span>{{ name }}</span>
                    </label>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</form>
<script>
    function editor_construct() {
        $('.element_list').on('click','li',function(){
            $('.element_list li').each(function(){
                $(this).removeClass('active');
            });
            $(this).addClass('active');
        });

    }
    function editor_destruct() {
        $('.element_list').off('click','li');
    }
</script>