{% extends '@MissbachProcessEditor/editor/base.html.twig' %}

{% block title %}Visual Process{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/missbachprocesseditor/css/contextmenu.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/missbachprocesseditor/css/jquery-ui.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/missbachprocesseditor/css/jstree/style.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/missbachprocesseditor/css/jqueryscrollpane.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/missbachprocesseditor/css/visualprocess.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ include('@MissbachProcessEditor/common/inc.html.twig') }}
{% endblock %}

{% block processbody %}
    <div class="vp-main">
        <div class="vp-top">
            <h1>
                {{ getBundleName() }}
            </h1>
            <div class="about-trigger" onclick="VisualProcessEditor.showAbout();">
                <i class="far fa-question-circle fa-lg"></i>
            </div>
        </div>
        <div class="vp-middle">
            <div class="vp-left">
                <div class="vp-buttons">
                    <div class="border top left right">
                        <div class="controls">

                        </div>
                    </div>
                </div>
                <div class="vp-tree">
                    <div class="border left right top scroller scroll-pane">
                        <div class="tree">

                        </div>
                    </div>
                </div>
                <div class="vp-bottom">
                    <div class="border all">
                        <div class="output-text scroll-pane hover-pane">
                            <p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vp-right">
                <div class="vp-buttons">
                    <div class="border top right">
                        <div class="controls">
                        </div>
                    </div>
                </div>
                <div class="vp-canvas">
                    <div class="border top right">
                        <div class="canvas scroller scroll-pane hover-pane"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="dialog-inform" title="">
        <div class="dialog-left">
            <span class="ui-icon ui-icon-information" style="float:left; margin:12px 12px 20px 0;"></span>
        </div>
        <div class="dialog-right">
            <p class="text"></p>
        </div>
    </div>
    <div id="dialog-confirm" title="">
        <div class="dialog-left">
            <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
        </div>
        <div class="dialog-right">
            <p class="text"></p>
        </div>
    </div>
    <div id="dialog-form" title="">
        <div class="dialog-left">
            <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
        </div>
        <div class="dialog-right">
            <p class="text"></p>
            <form>
                <fieldset>
                </fieldset>
            </form>
        </div>
    </div>

    <div id="dialog-editor-form" title="">
        <div class="dialog-left">
            <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
        </div>
        <div class="dialog-right">
            <p class="text"></p>
            <div class="wrapper">
            </div>
        </div>
    </div>

    <div id="about" style="display:none;">
        {{ include('@MissbachProcessEditor/editor/about.html.twig') }}
    </div>
{% endblock %}



