VisualProcessEditor.canvasObject.clearModules();
{% for modules in getProcessObjects() %}
    {% set modules = modules|merge({'class':''}) %}
    VisualProcessEditor.canvasObject.addModule('{{ modules|json_encode|raw}}');
{% endfor %}
VisualProcessEditor.canvasObject.activateModules();
{% for id,object in getSavedObjects(container_id) %}
    VisualProcessEditor.canvasObject.addContainerElementFromName("{{ object.__getProcessMeta('objectInformations').name }}",{ x: {{ object.__getProcessMeta('posx') }},y: {{ object.__getProcessMeta('posy') }} },"{{ id }}");
{% endfor %}
{% for id,object in getSavedObjects(container_id) %}
    {% if object.__getOutputIds() is defined %}
        {% for key,value in object.__getOutputIds() %}
            {% for keyinner,valueinner in value %}
                VisualProcessEditor.canvasObject.connectResolvableElements(false,"{{ keyinner }}",{{ valueinner }},"{{ id }}",{{ key }});
            {% endfor %}
        {% endfor %}
    {% else %}
        {# todo connectUnResolvableElements #}
    {% endif %}
{% endfor %}
