<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{ asset('bundles/missbachprocesseditor/js/contextmenu.js') }}"></script>
<script src="{{ asset('bundles/missbachprocesseditor/js/jquerymousewheel.js') }}"></script>
<script src="{{ asset('bundles/missbachprocesseditor/js/jquery-ui.min.js') }}"></script>
<script src="{{ asset('bundles/missbachprocesseditor/js/jstree.min.js') }}"></script>
<script src="{{ asset('bundles/missbachprocesseditor/js/jqueryscrollpane.js') }}"></script>
<script src="{{ asset('bundles/missbachprocesseditor/js/editor.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        VisualProcessEditor.init("{{ container_id }}",{{ first_load ? 'true':'false' }});
    });
</script>


